@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --responsive: calc(1vw + 1vh);
    --mobile-width: 375px;
    --desktop-width: 1440px;
    --basic-white: hsl(0, 0%, 100%);
    --basic-violet: hsl(270, 3%, 87%);
    --dark-violet: hsl(279, 6%, 55%);
    --darker-violet: hsl(278, 68%, 11%);
    --lighter-violet: hsl(249, 99%, 64%);
    --red: hsl(0, 100%, 66%);
}
body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--darker-violet);
    background-color: var(--basic-white);
}
input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    outline: none;
    border: 1.75px solid var(--darker-violet);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    font-weight: 650;
    color: var(--darker-violet);
    background-color: var(--basic-white);
}
input::placeholder {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    font-weight: 650;
    color: var(--basic-violet);
}
input:focus {
    border: 1.75px solid var(--lighter-violet);
    transition: all .25s ease;
}
button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    transition: all .2s ease;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--darker-violet);
}
button:hover {
    color: var(--darker-violet);
    background-color: var(--basic-violet);
}
button:active {
    background-color: var(--dark-violet);
}

.fraction {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    background-image: url(../resource/main-desktop.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-color: var(--basic-white);
}
.fraction-container {
    margin-left: calc(var(--responsive) * 7);;
    max-width: var(--desktop-width);
    gap: calc(var(--responsive) * 5);
    display: flex;
    overflow: hidden;
}
.card-mapping {
    gap: 30px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.shape-container {
    display: flex;
    align-items: center;
}
.card-container {
    width: 447px;
    height: 245px;
    border-radius: 10px;
    padding: 32px 30px;
    color: var(--basic-white);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.35);;
    position: relative;
}
.card-front {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.card-back {
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-logo {
    margin: 35px 0 0 30px;
    inset: 0;
    position: absolute;
}
.card-middle {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 450;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.card-footer {
    padding: 0 10px 0 0;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-cvc {
    margin: 0 24px 4px 0;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card-general {
    margin-bottom: 20px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.card-details {
    margin-bottom: 24px;
    gap: 16px;
    display: flex;
    flex-direction: row;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.input-card-data {
    width: 170px;
}
label {
    color: var(--dark-violet);
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.unconfirmed input {
    border: 1.75px solid var(--red);
}
.error-handler {
    margin-top: 6px;;
    margin-bottom: -6px;
    padding-left: 4px;
    color: var(--red);
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: normal;
}
.success-shape {
    gap: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.success-shape img {
    margin-bottom: 10px;
}
.success-shape h1 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.success-shape p {
    margin-bottom: 24px;
    letter-spacing: 1px;
    color: var(--dark-violet);
}
.success-submit {
    width: 380px;
}
@media only screen and (max-width: 780px) {
    .fraction {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../resource/main-mobile.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }
    .fraction-container {
        margin: 0;
        width: 550px;
        display: inline-block;
        overflow: hidden;
    }
    .mapping-container {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .shape-container {
        max-width: var(--mobile-width);
        margin: 0 auto;
    }
    .card-back {
        margin-left: 0;
    }
}